<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ theme }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="imgBack" [src]="image2" alt="image2">
  <ion-card class="card">

    <video width="100%" 
      controls="controls" 
      preload="metadata" 
      autoplay="autoplay" 
      webkit-playsinline="webkit-playsinline" 
      [src]="titreVideo2" 
      type="video/mp4">
    </video>
    <!-- <ion-button (click)="jouerVideo()">
        Jouer
    </ion-button> -->

    <ion-card-header>
      <ion-card-title>{{ theme }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        {{ description }}
      <div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button (click)="autreConseil('arriere')">
                <ion-icon slot="start" name="arrow-round-back"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              
            </ion-col>
            <ion-col>
              <ion-button (click)="autreConseil('suivant')">
                <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
