<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Viens t'amuser avec nous
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding bodyJeux">
  <ion-card>

      <ion-item>
        <h2>Morpion</h2>
      </ion-item>
    
      <img src="assets/img/jeuxPage/morpion/morpion.jpg">
    
      <ion-card-content>
        <p>Joues au morpion</p>
        <div>
            <ion-button color="danger" round routerLink="/morpion" router-direction="forward">Jouer</ion-button>
        </div>
      </ion-card-content>

  </ion-card>
  <ion-card>

      <ion-item>
        <h2>Jeux de cartes</h2>
      </ion-item>
    
      <img src="assets/img/jeuxPage/jeuxcarte/jeuxCarte.jpg">
    
      <ion-card-content>
        <p>Bientôt disponible</p>
        <div>
            <ion-button ion-button color="danger" round>Jouer</ion-button>
        </div>
      </ion-card-content>

  </ion-card>
</ion-content>