<ion-header translucent>
  <ion-toolbar>
    <ion-title>Publié le {{ datePublication }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="forBordy">
    <div class="title">
      <p>{{ laQuestion }}</p>
    </div>
    <div *ngFor="let item of vg.lesReponses" class="chat-message ion-text-right">
      <div class="right-bubble">
        <span class="msg-date">{{ item.datePublication }}</span>
        <p class="ion-text-wrap">{{ item.laReponse }}</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-input type="text" placeholder="Répondre à cette question ?" [(ngModel)]="reponse" name="reponse"></ion-input>
      </ion-col>
      <ion-col size="2" (click)="sendMessage()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
