<ion-content>
  <div id="content">
    <div id="head">
        <div class="cont-avatar1"><img src="assets/img/indexPage/avatar1.png" alt="" class="avatar1"></div>
        <div class="text-for-avatar1">
          <h3>{{ titreHead }}</h3>
          <p>{{ soutitreHead }}</p>
        </div>
    </div>
    <div id="body">
      <div id="buttons">
        <div class="btnMenu contBtn1"><button routerLink="/conseil" router-direction="forward">
          <div><img class="btnHaut1" src="assets/img/indexPage/conseil.jpg" alt=""></div>
          <div></div>
        </button></div>
        <div class="btnMenu contBtn2"><button routerLink="/jeux" router-direction="forward">
          <div><img class="btnHaut2" src="assets/img/indexPage/jeu.jpg" alt=""></div>
          <div></div>
        </button></div>
        <div class="btnMenu"><button routerLink="/forum" router-direction="forward">
          <div><img class="btnBas1" src="assets/img/indexPage/forum.jpg" alt=""></div>
          <div></div>
        </button></div>
        <div class="btnMenu"><button routerLink="/call" router-direction="forward">
          <div><img class="btnBas2" src="assets/img/indexPage/call.jpg" alt=""></div>
          <div></div>
        </button></div>
      </div>
    </div>
  </div>
</ion-content> 